<h2>Signup page</h2>

<div id="form">
    <form action="/auth/signup" method="POST">
        <label>Username</label>
        <input type="text" name="username" placeholder="Your username">
        <br>
        <label>Password</label>
        <input type="text" name="password" placeholder="Your password">
        <br>
        <button type="submit">Create new account</button>
    </form>
</div>