<a href="/auth/profile">Profile</a>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/auth/signup">Sign up!</a>
<p>Already a member?</p><a href="/auth/login">Login</a>

<h3>Our content:</h3>
<a href="/main">Main content</a>
<a href="/private">Private</a>